/Krypto/nbproject/private/
/Krypto/build/
/JavaApplication18/nbproject/private/
/JavaApplication18/build/
/JavaApplication19/nbproject/private/
/Test The New Boston/nbproject/private/
/Test The New Boston/build/
/JavaApplication21/nbproject/private/
/JavaApplication21/build/
/Anagram/nbproject/private/
/Anagram/build/
/Test1,0/nbproject/private/
/JavaApplication24/nbproject/private/
/JavaApplication24/build/
/Draw.program/nbproject/private/
/Draw.program/build/
/Test1,0/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/JavaApplication27/nbproject/private/
/JavaApplication27/build/
/JavaApplication28/nbproject/private/
/JavaApplication29/nbproject/private/
/JavaApplication29/build/
/adventure/nbproject/private/
/adventure/build/
/JavaGraphics/nbproject/private/
/JavaGraphics/build/
/Quicksort/nbproject/private/